<div id="header-container">

    <header id="header">

        <nav>
            <ul>
                <li
                    routerLink=""
                    routerLinkActive="active"
                    [routerLinkActiveOptions]="{ exact: true }">
                    <span>Home</span>
                </li>
                <li
                    routerLink="channels"
                    routerLinkActive="active">
                    <span>Channels</span>
                </li>
                <li
                    routerLink="categories"
                    routerLinkActive="active">
                    <span>Categories</span>
                </li>
            </ul>
        </nav>
        
    </header>

</div>